<div id="user-cp">
  <% if User.current.logged_in? %>
    <%= t(:ucp_logged_in_as, username: User.current.username) %>
    <span class="item"><%= link_to t(:ucp_title_logout), users_logout_path, data: { confirm: t(:ucp_logout_confirmation) } %></span>
  <% else %>
    <span class="item"><%= link_to t(:ucp_title_register), users_new_path %></span>
    <span class="item"><%= link_to t(:ucp_title_login), users_login_path %></span>
  <% end %>
</div>

<div id="header">
  <%= link_to 'Open Source Forum', root_path %>
</div>

<div id="breadcrumbs">
  <% @breadcrumbs.each_with_index do |breadcrumb, index| %>
    <%= link_to breadcrumb[0], breadcrumb[1] %>
    <% if @breadcrumbs.size != index+1 %>
      &raquo;
    <% end %>
  <% end %>
</div>
