<div id="post-new-response" style="display: none;"></div>

<%= form_tag board_thread_posts_create_path(thread.board, thread), class: 'board_thread_post_new', remote: true do %>
  <div class="card">
    <div class="card-header">
      <strong><%= I18n.t :board_thread_posts_new %></strong>
    </div>
    <div class="card-body">
      <% if User.current.guest? %>
        <div class="form-group">
          <%= label_tag :username, I18n.t(:field_username) %>
          <%= text_field_tag :username, params[:username], class: 'form-control' %>
        </div>
      <% end %>
      <div class="form-group">
        <%= label_tag :title, I18n.t(:field_title) %>
        <%= text_field_tag :title, params[:title], class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :message, I18n.t(:field_message) %>
        <%= text_area_tag :message, params[:message], class: 'form-control' %>
      </div>
    </div>
    <div class="card-footer">
      <%= submit_tag I18n.t(:button_thread_post_create), class: 'btn btn-sm btn-success' %>
    </div>
  </div>
<% end %>
